{% extends 'base_home.html' %}
{% load static %}

{% block content %}


<div id="Home" class="hero-section hero-section-background wf-section">
    <div class="hero-container prebert-hero-container w-container">
        <div data-w-id="7962adc4-e9a1-2270-5b71-a66ba900a57f"
            style="-webkit-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0"
            class="flex-row spacing">
            <div class="hero-section-left-side">
                <h1 class="hero-h1-first">PREBERT</h1>
                <h1>ADVIESBUREAU</h1>
                <p class="hero-paragraph hero-sub-paragraph hero-paragraph-desktop heropdesk">Prebert Adviesbureau bv
                    geeft gespecialiseerd advies en bijstand aan bedrijven, de overheid en aan particulieren op het
                    gebied van veiligheid en welzijn.</p>
                <div class="hero-text"><strong class="bold-text-6">Gespecialiseerd in advies en bijstand  op het gebied
                        van veiligheid en welzijn.</strong></div>
                <a href="{% url 'contact' %}" class="prebert-button navigation-link button-hero w-button">Contacteer ons</a>
            </div>
        </div>
    </div>
</div>
<div class="section-2 wf-section">
    <div data-w-id="c4a69fd2-0d0d-42f7-281b-31a9eac9330f"
        style="-webkit-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0"
        class="hero-container prebert-troeven w-container">
        <div class="centered-title">
            <h2>De troeven van Prebert</h2>
        </div>
        <div data-current="Tab 1" data-easing="ease-in-out" data-duration-in="400" data-duration-out="400"
            class="tabs w-tabs">
            <div class="tabs-title w-tab-menu">
                <a data-w-tab="Tab 1" class="spark-flat-tab spark-small w-inline-block w-tab-link w--current">
                    <div class="text-block-3">Ervaring</div>
                </a>
                <a data-w-tab="Tab 2" class="spark-flat-tab spark-small w-inline-block w-tab-link">
                    <div class="text-block-5">Advies</div>
                </a>
                <a data-w-tab="Tab 3" class="spark-flat-tab spark-small w-inline-block w-tab-link">
                    <div class="text-block-4">Zorgsystemen</div>
                </a>
                <a data-w-tab="Tab 4" class="spark-flat-tab spark-small w-inline-block w-tab-link">
                    <div class="text-block-6">Begeleiden en Bijstaan</div>
                </a>
                <a data-w-tab="Tab 5" class="spark-flat-tab spark-small w-inline-block w-tab-link">
                    <div class="text-block-7">Facturatie</div>
                </a>
            </div>
            <div class="tabs-content w-tab-content">
                <div data-w-tab="Tab 1" class="w-tab-pane w--tab-active">
                    <div class="tabs-paragraph">
                        <div id="w-node-c4a69fd2-0d0d-42f7-281b-31a9eac93323-c3b590bf"
                            class="spark-wrapped-card spark-stacked">
                            <div class="spark-card-details">
                                <p class="spark-bold-heading spark-card-title"><strong
                                        class="bold-text-3">Ervaring</strong></p>
                                <p class="spark-small-sub-paragraph">Reeds diverse inspectie bezoeken van de FODWASO TWW
                                    (voorheen arbeidsinspectie) begeleid en opgevolgd.<br><br>Ervaring in diverse
                                    sectoren .<br>‍<br>Jarenlange ervaring als interne preventieadviseur in het
                                    onderwijs.<br></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-w-tab="Tab 2" class="w-tab-pane">
                    <div class="tabs-paragraph">
                        <div id="w-node-_38cd3d49-5aea-f9c6-4505-b10ba30ef8cf-c3b590bf"
                            class="spark-wrapped-card spark-stacked">
                            <div class="spark-card-details">
                                <p class="spark-bold-heading spark-card-title"><strong
                                        class="bold-text-4">Advies</strong></p>
                                <p class="spark-small-sub-paragraph">Advies op maat en op vraag van de bedrijven.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-w-tab="Tab 3" class="w-tab-pane">
                    <div class="tabs-paragraph">
                        <div id="w-node-_2967c94f-80e6-b703-d7ef-9b11971af51d-c3b590bf"
                            class="spark-wrapped-card spark-stacked">
                            <div class="spark-card-details">
                                <p class="spark-bold-heading spark-card-title"><strong
                                        class="bold-text">Zorgsystemen</strong></p>
                                <p class="spark-small-sub-paragraph">Uitwerken van geïntegreerde zorgsystemen
                                    <br>(veiligheid en welzijn op het werk).</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-w-tab="Tab 4" class="w-tab-pane">
                    <div class="tabs-paragraph">
                        <div id="w-node-_6442380e-1037-5f6a-9114-6568c7c04990-c3b590bf"
                            class="spark-wrapped-card spark-stacked">
                            <div class="spark-card-details">
                                <p class="spark-bold-heading spark-card-title"><strong class="bold-text-5">Begeleiden en
                                        bijstaan</strong></p>
                                <p class="spark-small-sub-paragraph">Begeleiden, opleiden, opvolgen en bijstaan van
                                    directie, interne preventieadviseur(s), hiërarchische verantwoordelijken en
                                    werknemers.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-w-tab="Tab 5" class="w-tab-pane">
                    <div class="tabs-paragraph">
                        <div id="w-node-_54534130-f140-3553-64ec-2e718cdeb9bd-c3b590bf"
                            class="spark-wrapped-card spark-stacked">
                            <div class="spark-card-details">
                                <p class="spark-bold-heading spark-card-title"><strong
                                        class="bold-text-2">Facturatie</strong></p>
                                <p class="spark-small-sub-paragraph">Transparante facturatie in overleg met de klant.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="brix---section-4 section-3 wf-section">
    <div class="brix---container-default-5 w-container">
        <div class="brix---mg-bottom-48px-2">
            <div data-w-id="c98adfb1-9ec6-2d85-3f7a-708038486b7e"
                style="-webkit-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0"
                class="brix---inner-container-574px---center-3">
                <div class="brix---text-center-4">
                    <div class="brix---mg-bottom-16px-4">
                        <div class="brix---color-neutral-808">
                            <h2 class="brix---heading-h2-size-4">De troeven van Prebert</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div data-w-id="c98adfb1-9ec6-2d85-3f7a-708038486b87"
            style="-webkit-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0"
            class="brix---inner-container-856---center-2">
            <div class="w-layout-grid brix---grid-1-column-gap-row-32px-2">
                <div data-w-id="c98adfb1-9ec6-2d85-3f7a-708038486b89" class="brix---accordion-item-wrapper-2">
                    <div class="brix---accordion-side-2">
                        <a href="#" class="brix---btn-circle-accordion-btn-2 w-inline-block">
                            <div class="brix---accordion-btn-vertical-line-2"></div>
                            <div class="brix---accordion-btn-horizontal-line-2"></div>
                        </a>
                    </div>
                    <div class="brix---accordion-content-wrapper-2">
                        <div class="brix---accordion-header-2">
                            <div class="brix---color-neutral-808">
                                <h3 class="brix---accordion-title-2">Ervaring</h3>
                            </div>
                        </div>
                        <div style="height:0px;-webkit-transform:translate3d(null, 20px, 0) scale3d(0.96, 0.96, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(null, 20px, 0) scale3d(0.96, 0.96, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(null, 20px, 0) scale3d(0.96, 0.96, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(null, 20px, 0) scale3d(0.96, 0.96, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0"
                            class="brix---acordion-body-2">
                            <div class="brix---accordion-spacer-3"></div>
                            <div class="brix---color-neutral-807">
                                <p class="brix---paragraph-default-5">Reeds diverse inspectie bezoeken van de FODWASO
                                    TWW (voorheen arbeidsinspectie) begeleid en opgevolgd.<br><br>Ervaring in diverse
                                    sectoren.<br><br>Jarenlange ervaring als interne preventieadviseur in het onderwijs.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-w-id="c98adfb1-9ec6-2d85-3f7a-708038486b98" class="brix---accordion-item-wrapper-2">
                    <div class="brix---accordion-side-2">
                        <a href="#" class="brix---btn-circle-accordion-btn-2 w-inline-block">
                            <div class="brix---accordion-btn-vertical-line-2"></div>
                            <div class="brix---accordion-btn-horizontal-line-2"></div>
                        </a>
                    </div>
                    <div class="brix---accordion-content-wrapper-2">
                        <div class="brix---accordion-header-2">
                            <div class="brix---color-neutral-808">
                                <h3 class="brix---accordion-title-2">Advies</h3>
                            </div>
                        </div>
                        <div style="height:0px;-webkit-transform:translate3d(null, 20px, 0) scale3d(0.96, 0.96, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(null, 20px, 0) scale3d(0.96, 0.96, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(null, 20px, 0) scale3d(0.96, 0.96, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(null, 20px, 0) scale3d(0.96, 0.96, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0"
                            class="brix---acordion-body-2">
                            <div class="brix---accordion-spacer-3"></div>
                            <div class="brix---color-neutral-807">
                                <p class="brix---paragraph-default-5">Advies op maat en op vraag van de bedrijven.<br>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-w-id="c98adfb1-9ec6-2d85-3f7a-708038486ba7" class="brix---accordion-item-wrapper-2">
                    <div class="brix---accordion-side-2">
                        <a href="#" class="brix---btn-circle-accordion-btn-2 w-inline-block">
                            <div class="brix---accordion-btn-vertical-line-2"></div>
                            <div class="brix---accordion-btn-horizontal-line-2"></div>
                        </a>
                    </div>
                    <div class="brix---accordion-content-wrapper-2">
                        <div class="brix---accordion-header-2">
                            <div class="brix---color-neutral-808">
                                <h3 class="brix---accordion-title-2">Zorgsystemen</h3>
                            </div>
                        </div>
                        <div style="height:0px;-webkit-transform:translate3d(null, 20px, 0) scale3d(0.96, 0.96, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(null, 20px, 0) scale3d(0.96, 0.96, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(null, 20px, 0) scale3d(0.96, 0.96, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(null, 20px, 0) scale3d(0.96, 0.96, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0"
                            class="brix---acordion-body-2">
                            <div class="brix---accordion-spacer-3"></div>
                            <div class="brix---color-neutral-807">
                                <p class="brix---paragraph-default-5">Uitwerken van geïntegreerde
                                    zorgsystemen(veiligheid en welzijn op het werk).</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-w-id="c98adfb1-9ec6-2d85-3f7a-708038486bb6" class="brix---accordion-item-wrapper-2">
                    <div class="brix---accordion-side-2">
                        <a href="#" class="brix---btn-circle-accordion-btn-2 w-inline-block">
                            <div class="brix---accordion-btn-vertical-line-2"></div>
                            <div class="brix---accordion-btn-horizontal-line-2"></div>
                        </a>
                    </div>
                    <div class="brix---accordion-content-wrapper-2">
                        <div class="brix---accordion-header-2">
                            <div class="brix---color-neutral-808">
                                <h3 class="brix---accordion-title-2">Begeleiden en Bijstaan</h3>
                            </div>
                        </div>
                        <div style="height:0px;-webkit-transform:translate3d(null, 20px, 0) scale3d(0.96, 0.96, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(null, 20px, 0) scale3d(0.96, 0.96, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(null, 20px, 0) scale3d(0.96, 0.96, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(null, 20px, 0) scale3d(0.96, 0.96, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0"
                            class="brix---acordion-body-2">
                            <div class="brix---accordion-spacer-3"></div>
                            <div class="brix---color-neutral-807">
                                <p class="brix---paragraph-default-5">Begeleiden, opleiden, opvolgen en bijstaan van
                                    directie, interne preventieadviseur(s), hiërarchische verantwoordelijken en
                                    werknemers.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-w-id="e7a60d26-37af-49c6-6e03-7cd12bab2f29" class="brix---accordion-item-wrapper-2">
                    <div class="brix---accordion-side-2">
                        <a href="#" class="brix---btn-circle-accordion-btn-2 w-inline-block">
                            <div class="brix---accordion-btn-vertical-line-2"></div>
                            <div class="brix---accordion-btn-horizontal-line-2"></div>
                        </a>
                    </div>
                    <div class="brix---accordion-content-wrapper-2">
                        <div class="brix---accordion-header-2">
                            <div class="brix---color-neutral-808">
                                <h3 class="brix---accordion-title-2">Facturatie</h3>
                            </div>
                        </div>
                        <div style="height:0px;-webkit-transform:translate3d(null, 20px, 0) scale3d(0.96, 0.96, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(null, 20px, 0) scale3d(0.96, 0.96, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(null, 20px, 0) scale3d(0.96, 0.96, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(null, 20px, 0) scale3d(0.96, 0.96, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0"
                            class="brix---acordion-body-2">
                            <div class="brix---accordion-spacer-3"></div>
                            <div class="brix---color-neutral-807">
                                <p class="brix---paragraph-default-5">Transparante facturatie in overleg met de
                                    klant.<br></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="logo-section wf-section">
    <div class="section-container w-container">
        <div data-w-id="4d51c624-4a3c-7330-41c5-2502f0c28bfe"
            style="-webkit-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0"
            class="w-layout-grid logo-grid">
            <div class="logo-text-div">
                <div class="text-holder">
                    <div class="logo-text-paragraph">Trouwe partner van:</div>
                </div>
            </div>
            <div class="logo-image-strip"><img src="{% static 'images/Vrij-interieur.svg' %}" width="134" alt=""
                    class="logo-image"><img src="{% static 'images/sportorders-1.svg' %}" width="138" alt="" class="logo-image"><img
                    src="{% static 'images/lcd-bvba-1.svg' %}" width="134" alt="" class="logo-image"><img src="{% static 'images/logo2x-1-1.svg' %}"
                    width="134" alt="" class="logo-image"><img src="{% static 'images/lbb-1.svg' %}" width="134" alt=""
                    class="logo-image"></div>
        </div>
    </div>
</div>
<section class="section-4 wf-section">
    <div data-w-id="d8423b8c-f53f-1c7e-a48b-781eb1b284b7"
        style="-webkit-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0"
        class="hero-container spark-primary-background w-container">
        <div class="flex-row spark-split-and-wrapped">
            <div class="section-4-heading">
                <h2>Meer weten?</h2>
            </div>
            <div class="flex-row spark-right">
                <a href="{% url 'contact' %}" class="prebert-button navigation-link w-button">Contacteer ons</a>
            </div>
        </div>
    </div>
    <div data-w-id="d8423b8c-f53f-1c7e-a48b-781eb1b284c7"
        style="-webkit-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0"
        class="section-4-bg"></div>
</section>


{% endblock %}