{% extends 'base_jk.html' %}
{% load static %}

{% block content %}

<div data-w-id="3884cad8-3b8d-3ba8-8c31-1ac6a184800b" class="page-loader w-container"><img src="{% static 'images/loader.gif' %}"
  loading="lazy" height="50" width="50" alt="" class="image"></div>

<div class="section-5 banner-aansprakelijkheid wf-section">
    <div class="section-container w-container">
      <div data-w-id="616d221e-0966-243f-03d4-f9369f1a82a7"
        style="-webkit-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0"
        class="brix---inner-container-600px---center">
        <div class="text-center">
          <div class="text-holder">
            <h1 class="brix---heading-h1-size-2">Juridische Kennisgeving – Aansprakelijkheid</h1>
          </div>
          <div class="brix---mg-bottom-40px-2">
            <div class="brix---color-neutral-801">
              <p class="brix---paragraph-default-2 paragraph-aansprakelijkheid">Het is de bedoeling van Prebert bv dat
                de informatie die zij op deze website verstrekt, actueel en juist is.<br> Nochtans kan deze informatie,
                die Prebert bv u gratis ter beschikking stelt, ondanks alle inspanningen, tikfouten, technische en
                andere fouten bevatten.<br>De informatie kan ook gegevens bevatten die niet noodzakelijk alomvattend,
                volledig, nauwkeurig of bijgewerkt zijn. Deze website is dan ook niet meer dan een hulpmiddel, zij het
                een bijzonder waardevol hulpmiddel.<br><br>Alle informatie die weergegeven wordt op deze website is
                louter indicatief en Prebert bv vestigt er uw aandacht op dat zij in geen geval en op geen enkele manier
                aansprakelijk of verantwoordelijk kan worden gesteld voor schade, van welke aard ook, die voortvloeit
                uit de gegevens die u op deze website worden verstrekt of uit het onvolledig, voorbijgestreefd of
                foutief karakter ervan. Teksten, lay-out, logo’s, afbeeldingen, foto’s en andere items, evenals de
                selectie en vormgeving ervan, worden door het auteursrecht beschermd.<br>‍<br>Elke kopie of reproductie,
                publieke mededeling, verspreiding, aanpassing of andere vorm van gebruik of exploitatie van het geheel
                of een gedeelte van onze websites, om het even onder welke vorm en met om het even welke middelen, is
                volstrekt verboden zonder onze voorafgaande schriftelijke toestemming. De auteursrechten berusten bij
                Prebert bv. Alle rechten zijn voorbehouden. De website bevat illustraties die uitdrukkelijk onder het
                auteursrecht van klanten, leveranciers en partners vallen.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}