{% extends 'base_vw.html' %}
{% load static %}

{% block content %}
<div data-w-id="b0bdd4a4-2311-dbaa-2105-a0754c0cb691" class="page-loader w-container"><img src="{% static 'images/loader.gif' %}"
  loading="lazy" height="50" width="50" alt="" class="image"></div>
<div class="brix---section wf-section">
    <div class="brix---container-default w-container">
      <div class="brix---mg-bottom-48px">
        <div data-w-id="269f87cc-6161-37b4-69c8-9972eeb6db17"
          style="-webkit-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0"
          class="brix---inner-container-574px---center">
          <div class="brix---text-center">
            <div class="brix---mg-bottom-16px">
              <div class="brix---color-neutral-800">
                <h2 class="brix---heading-h2-size">Veiligheid &amp; Welzijn<br></h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div data-w-id="269f87cc-6161-37b4-69c8-9972eeb6db20"
        style="-webkit-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 10%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0"
        class="brix---inner-container-856---center">
        <div class="w-layout-grid brix---grid-1-column-gap-row-32px">
          <div data-w-id="269f87cc-6161-37b4-69c8-9972eeb6db22" class="brix---accordion-item-wrapper wrapper-vw">
            <div class="brix---accordion-side">
              <a href="#" class="brix---btn-circle-accordion-btn w-inline-block">
                <div class="brix---accordion-btn-vertical-line"></div>
                <div class="brix---accordion-btn-horizontal-line"></div>
              </a>
            </div>
            <div class="brix---accordion-content-wrapper">
              <div class="brix---accordion-header">
                <div class="brix---color-neutral-800">
                  <h3 class="brix---accordion-title"><strong>Preventieadviseur</strong><br></h3>
                </div>
              </div>
              <div
                style="height:0px;-webkit-transform:translate3d(null, 20px, 0) scale3d(0.96, 0.96, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(null, 20px, 0) scale3d(0.96, 0.96, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(null, 20px, 0) scale3d(0.96, 0.96, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(null, 20px, 0) scale3d(0.96, 0.96, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0"
                class="brix---acordion-body">
                <div class="brix---accordion-spacer-2"></div>
                <div class="brix---color-neutral-600">
                  <p class="brix---paragraph-default">Bijstand verlenen als preventieadviseur niveau II aan kleine en
                    grotere bedrijven.<br><br>De zaakvoerder als preventieadviseur of de interne preventieadviseur(s)
                    bijstaan in het uitwerken en implementeren van een DRBS (<strong><em>D</em></strong>ynamisch
                    <strong><em>r</em></strong>isico
                    <strong><em>b</em></strong>eheers<strong><em>s</em></strong>ysteem).<br><br>Begeleiden, coachen en
                    opleiden van de interne preventieadviseur(s) en/of de hiërarchische lijn. <br><br>Geven van
                    toolboxmeetingen aan de hiërarchische lijn en aan operatieve medewerkers.</p>
                </div>
              </div>
            </div>
          </div>
          <div data-w-id="269f87cc-6161-37b4-69c8-9972eeb6db31" class="brix---accordion-item-wrapper">
            <div class="brix---accordion-side">
              <a href="#" class="brix---btn-circle-accordion-btn w-inline-block">
                <div class="brix---accordion-btn-vertical-line"></div>
                <div class="brix---accordion-btn-horizontal-line"></div>
              </a>
            </div>
            <div class="brix---accordion-content-wrapper">
              <div class="brix---accordion-header">
                <div class="brix---color-neutral-800">
                  <h3 class="brix---accordion-title"><strong>De Wet Welzijn</strong><br></h3>
                </div>
              </div>
              <div
                style="height:0px;-webkit-transform:translate3d(null, 20px, 0) scale3d(0.96, 0.96, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(null, 20px, 0) scale3d(0.96, 0.96, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(null, 20px, 0) scale3d(0.96, 0.96, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(null, 20px, 0) scale3d(0.96, 0.96, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0"
                class="brix---acordion-body">
                <div class="brix---accordion-spacer-2"></div>
                <div class="brix---color-neutral-600">
                  <p class="brix---paragraph-default">Advies bij het opstellen van de documenten van het DRBS:
                    beleidsverklaring,  Risico Inventarisatie en Evaluatie, globaal preventieplan,
                    jaaractieplan.Procedures en instructies opstellen en implementeren.<br><br>Onderzoeken van
                    arbeidsongevallen en maatregelen ter voorkoming van arbeidsongevallen uitwerken.<br><br>Advies
                    verlenen inzake opvolging van de Welzijnswetgeving en de nieuwe wetgeving ter zake
                    opvolgen.<br><br>Advies geven aan het CPBW en desgewenst, fungeren als secretaris voor het CPBW.
                    <br><br>Advies geven i.v.m. evcauatie en brandpreventie.Assistentie bij het uitwerken van
                    noodprocedures en evacuatie.Begeleiden bij metingen (geluid, bedrijfshygiëne,
                    ergonomie...).<br><br>Werkplaatsbezoeken en adviezen ter verbetering.Contacten met de EDPBW (Externe
                    Dienst voor Preventie en Bescherming van de Werknemers tijdens de uitvoering van hun
                    arbeid).<br><br>Inspectiebezoeken van de FODWASO TWW (Federale Overheidsdienst Werk Arbeid en
                    Sociaal Overleg directie Toezicht op Welzijn op het Werk) begeleiden.<br><br>De inbreuken en
                    opmerkingen van inspectieverslagen van de FODWASO TWW aanpakken. <br><br>Actieplannen ter
                    verbetering opstellen.</p>
                </div>
              </div>
            </div>
          </div>
          <div data-w-id="269f87cc-6161-37b4-69c8-9972eeb6db40" class="brix---accordion-item-wrapper">
            <div class="brix---accordion-side">
              <a href="#" class="brix---btn-circle-accordion-btn w-inline-block">
                <div class="brix---accordion-btn-vertical-line"></div>
                <div class="brix---accordion-btn-horizontal-line"></div>
              </a>
            </div>
            <div class="brix---accordion-content-wrapper">
              <div class="brix---accordion-header">
                <div class="brix---color-neutral-800">
                  <h3 class="brix---accordion-title"><strong>Zorgsystemen</strong></h3>
                </div>
              </div>
              <div
                style="height:0px;-webkit-transform:translate3d(null, 20px, 0) scale3d(0.96, 0.96, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(null, 20px, 0) scale3d(0.96, 0.96, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(null, 20px, 0) scale3d(0.96, 0.96, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(null, 20px, 0) scale3d(0.96, 0.96, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0"
                class="brix---acordion-body">
                <div class="brix---accordion-spacer-2"></div>
                <div class="brix---color-neutral-600">
                  <p class="brix---paragraph-default">Uitwerken van een zorgsysteem voor veiligheid en welzijn op het
                    werk.<br><br>De zaakvoerder en/of interne preventieadviseur(s) begeleiden bij de uitwerking van een
                    zorgsysteem.<br><br>Advies en begeleiding bij externe audits (bijvoorbeeld VCA...).</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}